In [1]:
import numpy as np
import pandas as pd

In [8]:
#ValueError: All arrays must be of the same length if

df = pd.DataFrame({'col1':[2,4,4],'col2':[3,5,7], 'col3':('v1','v2','v3')})
df.head()

   col1  col2 col3
0     2     3   v1
1     4     5   v2
2     4     7   v3

In [10]:
df['col1'].unique()

array([2, 4], dtype=int64)

In [11]:
#number of unique
df['col1'].nunique()

2

In [14]:
#individual counts
df['col1'].value_counts()

4    2
2    1
Name: col1, dtype: int64

In [16]:
#filter
df[(df['col1'] > 2) & (df['col2']==5)]

   col1  col2 col3
1     4     5   v2

In [18]:
df['col1'] >2

0    False
1     True
2     True
Name: col1, dtype: bool

In [19]:
df['col1'].sum()

10

In [20]:
def times3(x):
    return 3*x

In [21]:
df['col1'].apply(times3)

0     6
1    12
2    12
Name: col1, dtype: int64

In [26]:
df['col3'].apply(len) # not for number return erro but okay with words

0    2
1    2
2    2
Name: col3, dtype: int64